.App {
  text-align: center;
  justify-content: center;
  
}

.borderbib{

  border-width: 3px;
  border-style:dotted;
  border: rgb(15, 90, 8);
  border-radius: 12px;
}

div{

  margin: 10px;
 

}
.form{

display: flex;
flex-direction: column;
justify-content: center;
}

.form input{
width: 200px;
height: 20px;
justify-items: center;
}

.form button{

  width: 100px;
height: 20px;
justify-content: center;
margin: 10px;
}

table, th, td {
  
  border: 1px solid black;
  
}
